
<nav>
    <h1><a routerLink="/" style="text-decoration: none;">E-commerce</a></h1>
  
    <div class="nav-search" *ngIf="manuType=='default'">

        <input type="text" placeholder="search for product">
         <button>Search</button>
    </div>
    <div [ngSwitch]="manuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
          </ul>
          <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-home">Product List</a></li>
            <li><a routerLink="/seller-add-product">Add product</a></li>
            <li><a (click)="LogOut()">LogOut</a></li>
            <li><a href="#">{{sellerName|titlecase}}</a></li>
          </ul>
    </div>
  
</nav>


