<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-sm-7 ">
            <h2>Add shipping address</h2>
            <form #orderData="ngForm" class="common-form">
                <input type="text" class="form-input" name="email" placeholder="Enter user email">
                <input type="text" class="form-input" name="address" placeholder="Enter user address">
                <input type="text" class="form-input" name="contact" placeholder="Enter user contact">
                <button class="form-button">Order now</button>
            </form>
        </div>
        <div class="col-sm-5 m-t-10">
            <h3>Total Amount: 5000</h3>
            <h4>Payment Method : <b>Pay on Delivery</b></h4>
        </div>
    </div>
</div>