<div class="product-list">
<h1>All Product List</h1>
<h1 style="text-align: center;color: #bc3918;">{{productMessage}}</h1>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
            <th>Category</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let intem of productList">
        <td><img src="{{intem.image}}"/></td>
        <td>{{intem.name}}</td>
         <td>{{intem.price}}</td>
         <td>{{intem.color}}</td>
         <td>{{intem.category}}</td>
         <td>{{intem.description}}</td>
         <td><button (click)="deleteProduct(intem.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
