<div class="seller-auth">
 <div class="signup" *ngIf="!isLogin">
    <h1>seller sign-up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
        <input class="form-input"  ngModel name="name" type="text" placeholder="Enter name"/>
        <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
        <input class="form-input" type="password"  ngModel name="password" placeholder="Enter password">
       <button class="form-button">signUp</button>
    </form>
    <a style="cursor: pointer;" (click)="toggle()"
    
    >have a account</a>
 </div>
</div>


<div class="signup" *ngIf="isLogin">
   <h1>seller LogIn</h1>
   <P style="text-align: center;color: red;">{{error}}</P> 
   <form #login="ngForm" (ngSubmit)="sellerlogin(login.value)" class="common-form">

       <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
       <input class="form-input" type="password"  ngModel name="password" placeholder="Enter password">
      <button class="form-button">LogIn</button>
   </form>
   <a style="cursor: pointer;"  (click)="toggle()">don't have account</a>
</div>