<ngb-carousel *ngIf="popularProduct">
	<ng-template *ngFor="let item of popularProduct" ngbSlide>
		<div class="product-carousel">
			<img [src]="item.image" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wraper">
    <h1>Trendy product</h1>
    <div class="row">
     
    <div class="col-sm-3" *ngFor="let item of trendyProduct">
        <div class="product-item">
            <img src="{{item.image}}">
 
        <div class="product-details">
         <h6 class="name-head">{{item.name}}</h6>
        
        <div class="product-price">
            <h6 class="name-price"> {{item.price}}</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">{{item.color}}</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>
    </div>

</div>
