<ngb-carousel *ngIf="popularProduct">
	<ng-template *ngFor="let item of popularProduct" ngbSlide>
		<div class="product-carousel">
			<img [src]="item.image" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wraper">
    <h1>Trendy product</h1>
    <div class="row">
    <div class="col-sm-3">
        <div class="product-item">
            <img src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-0010-228x228.jpg">
 
        <div class="product-details">
         <h6 class="name-head">Apple Phone</h6>
        
        <div class="product-price">
            <h6 class="name-price"> Phone price</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">BluePhone</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>

    <div class="col-sm-3">
        <div class="product-item">
            <img src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-0010-228x228.jpg">
 
        <div class="product-details">
         <h6 class="name-head">Apple Phone</h6>
        
        <div class="product-price">
            <h6 class="name-price"> Phone price</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">BluePhone</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>
    <div class="col-sm-3">
        <div class="product-item">
            <img src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-0010-228x228.jpg">
 
        <div class="product-details">
         <h6 class="name-head">Apple Phone</h6>
        
        <div class="product-price">
            <h6 class="name-price"> Phone price</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">BluePhone</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>
    <div class="col-sm-3">
        <div class="product-item">
            <img src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-0010-228x228.jpg">
 
        <div class="product-details">
         <h6 class="name-head">Apple Phone</h6>
        
        <div class="product-price">
            <h6 class="name-price"> Phone price</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">BluePhone</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>
    <div class="col-sm-3">
        <div class="product-item">
            <img src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-0010-228x228.jpg">
 
        <div class="product-details">
         <h6 class="name-head">Apple Phone</h6>
        
        <div class="product-price">
            <h6 class="name-price"> Phone price</h6>
           </div>
           <div class="product-color">
            <h6 class="name-color">BluePhone</h6>
           </div>
        </div>
           <div class="product-footer">
            <a href="">view details</a>
            <a href="">Add card</a>
            </div>
    </div>
   
    </div>
    </div>

</div>
